PORT=4000
FRONTEND_URL=http://localhost:3000
AUTH_SERVICE_ENABLED=true
AUTH_SERVICE_URL=http://localhost:4101
USER_SERVICE_ENABLED=true
USER_SERVICE_URL=http://localhost:4102
JOB_SERVICE_ENABLED=true
JOB_SERVICE_URL=http://localhost:4103
APPLICATION_SERVICE_ENABLED=true
APPLICATION_SERVICE_URL=http://localhost:4104
INTERVIEW_SERVICE_ENABLED=true
INTERVIEW_SERVICE_URL=http://localhost:4105
REPORTING_SERVICE_ENABLED=true
REPORTING_SERVICE_URL=http://localhost:4106
NOTIFICATION_SERVICE_ENABLED=true
NOTIFICATION_SERVICE_URL=http://localhost:4107
ASSESSMENT_SERVICE_ENABLED=true
ASSESSMENT_SERVICE_URL=http://localhost:4108
CORE_SERVICE_URL=http://localhost:5000
